# Site URL (production)
NEXT_PUBLIC_SITE_URL=https://www.sensoramadesign.com

# Google Analytics
NEXT_PUBLIC_GA_ID=G-19STK4PSKH

# ContentSquare (atual "Hotjar")
NEXT_PUBLIC_CONTENTSQUARE_ID=6dfc7208f63b6

# EmailJS (formulário de contato)
NEXT_PUBLIC_EMAILJS_SERVICE_ID=
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=
